<div class="container my-5">
  <h2>Vamos começar.</h2>
  <p>Para que possamos proseguir, preciso de pequenas informações que ajudarão resolverr grandes problemas.</p>

  <div class="row">
    <div class="col-sm-8">
      <form #form="ngForm" (ngSubmit)="avancar(form)">
        <div class="jumbotron bg-primary text-white p-0 pl-5 pr-5 pt-3 pb-3">
          <h4>Primeira Parte</h4>
          <div class="form-group">
            <label for="formGroupExampleInput">Quantas variáveis de decisão tem o problema?</label>
            <input type="number" name="a" class="form-control" id="formGroupExampleInput" placeholder="Exemplo: 1" min="1"
              required [(ngModel)]="formTeste.a">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Quantas restrições?</label>
            <input type="number" name="b" class="form-control" id="formGroupExampleInput2" placeholder="Exemplo: 2" min="1"
              required  [(ngModel)]="formTeste.b">
          </div>
        </div>
        <div class="d-flex flex-row-reverse">
          <div class="form-group">
            <button type="submit" class="btn btn-success">Avançar</button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-sm">
      <div class="d-line p-3 bg-light text-dark">
        <strong>Dica:</strong> Pense em todas as variáveis possiveis!
      </div>
    </div>
  </div>
</div>