<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/iniciar">Plex</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
      aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let link of links" [ngClass]="{ 'active': seEncontraNoLink(link) }">
          <a class="nav-link" [routerLink]="link.path">{{ link.nome }}</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <!-- routerLink="/entrar" -->
        <div class="dropdown show">
          <a class="nav-link dropdown-toggle" id="dropdown-menu" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Entrar</a>
          <div class="dropdown-menu">
            <form class="px-4 py-3">
              <div class="form-group">
                <label for="exampleDropdownFormEmail1">Endereço de E-mail</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@exemplo.com">
              </div>
              <div class="form-group">
                <label for="exampleDropdownFormPassword1">Senha</label>
                <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Senha">
              </div>
              <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Novo por aqui? Cadastrar</a>
            <a class="dropdown-item" href="#">Esqueceu a senha?</a>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
<ng-template></ng-template>