<div class="container my-5">
  <h2>Tudo Pronto. Este é seu resultado</h2>
  <p>Análise de Sensibilidade</p>
  <div class="row">
    <div class="col-lg-5">
      <div class="card text-white bg-success rounded-0">
        <div class="card-header">
          Solução
          <a href="">
            <i style="font-size: 18px;" class="fas fa-share-alt float-right"></i>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Variáveis Básicas</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <h5 class="card-title">Variáveis não Básicas</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>

      <div class="customControl custom-checkbox my-3 mr-sm-2" style="margin-left:25px">
        <input type="checkbox" class="custom-control-input" id="customControlInline" [(ngModel)]="naoMostrarNovamente">
        <label class="custom-control-label" for="customControlInline">Público</label>
      </div>

      <h5>Tabela Inicial</h5>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <h5>Tabela Final</h5>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h5>Qual a interpretação do quadro final?</h5>

      <p>Variáveis basicas</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, placeat optio. Culpa maiores nesciunt
        temporibus
        est praesentium, vel quibusdam dolorem impedit nemo ut rerum a in facere doloremque, quos deserunt!</p>
    </div>
  </div>
</div>