<div class="container my-5">
  <h2><i class="fas fa-question-circle"></i> Precisa de uma ajuda?</h2>
  <p>Primeiramente, você precisará fazer uma pesquisa sobre quais serão suas opcôes para maximizar ou minimizar seus
    resultados faça um relatorio completo sobre sua produtividade, como tempo trabalhado, quantidade de funcionarios, ou
    então a quantidade de produtos produizidos e seus respectivos valore, matéria prima utilizada.</p>

  <p>Feito isso, devemos estabelecer os limites possíveis. Por exempo, dizer que a produção de algo não pode exceder
    tanta quantidade de horas, ou então a quantidade de materia a ser gasta.</p>

  <p>O próximo passo se define em utilizar as variáveis definidas como uma expressão, e você pode defini-la aqui no
    programa!</p>

  <p>Se precisar de uma ajuda um pouco mais aprofundada, pode nos contatar vei E-mail, ou então em casos mais extremos,
    procure ajuda de um profissional da área</p>
</div>